@import '~antd/dist/antd.css';

body {
  font-family: 'FiraGO', sans-serif;
  height: 1740 !important;
  background: #e8e8e8;
}

.white-text {
  color: #ffff;
}

.no-border {
  border: none;
}

.lang {
  position: absolute;
  top: 14%;
  left: 90%;
}

.main-component {
  max-width: 600px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100vh;
}

.grid-item-1 {
  height: 40%;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.site-logo {
  margin-top: 50px;
}

.header-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px;
}

.row .no-spaces {
  margin-right: 0;
  margin-left: 0;
}

.footer-component {
  margin-top: 40px;
  transition: transform 0.8s cubic-bezier(0.51, 0.36, 0.22, 1), opacity 0.8s;
}

.footer-container {
  max-width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.footer-component .inner {
  border-top: 1px solid rgba(112, 112, 112, 0.1);
  padding: 20px 0 35px 0px;
}


