.product-container {
  max-width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  height: 100%;
}

.flex-item-style {
  position: initial;
}

.black-text {
  color: #000000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  margin-right: -25px;
  margin-left: -25px;
}

.product-data {
  padding-top: 50%;
}


.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  margin-bottom: 30px;
}

.product-img {
  height: 80%;
  width: auto;
}

.description {
  font-size: 16px;
  color: #000;
}

.descr-text {
  font-weight: bold;
}
